* {
  box-sizing: border-box;
}

.topPart{
  grid-row: 1 / 1;
  grid-column: 2 /4;
  height:4em;
  letter-spacing: 5px;
}
.goop {
  border-color: rgba(25, 43, 194, 0.8);
  box-shadow: 5px 5px rgba(25, 43, 194, 0.8);
	grid-column: 0 /2;
	grid-row: 1 / 4;
  background-image:url("bkg.png");
  background-size:150% ;
  background-position: 3em;
  background-repeat:repeat;

}
[data-grid='grid-cell'] {
	border-color: rgba(25, 43, 194, 0.8);
  box-shadow: 5px 5px rgba(25, 43, 194, 0.8);
  transition: box-shadow 0.5s ease;
  grid-column:2/3;
}
[data-grid='grid-column'] {
	border-color: rgba(25, 43, 194, 0.8);
  box-shadow: 5px 5px rgba(25, 43, 194, 0.8);
	grid-column: 2 / 4;
	grid-row: 1.5 / 4;


	@include bp(large) {
		grid-column: 4;
		grid-row: 0 / 8;
	}


	&:after {
		background: hsla(0, 0%, 10%, .4);
		bottom: 0;
		color: hsl(0, 0, 100%);
		content: "As you can see, grid tracks can overlap";
		left: 0;
		padding: .7rem;
		position: absolute;
		right: 0;
	}
}
[data-grid='grid-area'] {
  box-shadow:5px -2px rgba(25, 43, 194, 0.8);
	border-color: rgba(25, 43, 194, 0.8);
	grid-column: 1 / span 2;
	grid-row: span 3;
  background-image:url("bkg.png");
  background-size:30% ;
  background-position: 5em;
  background-repeat:repeat;


	@include bp(large) {
		grid-column: 2;
	}

	&:hover {
		background: rgb(138, 0, 84);
	}
}

[data-grid='grid-row'] {
	background: rgba(250, 112, 112, 0);
	border-color: rgba(25, 43, 194, 0.8);
  box-shadow:5px -2px rgba(25, 43, 194, 0.8);
   grid-column: 1 / -1; // -1 jumps to the last grid line to count from the end
	grid-row: 8;
  background-image:url("bkg.png");
  background-size:5% ;
  background-position: 5em;
  background-repeat:space;
  margin-bottom:1em;
}





body {
  margin-top:150px;
  width: calc(100% - 2em);
  display: flex;
  background: #F9F4F4;
  animation: Gradient 10s ease infinite;
	background-size: 400% 400%;
  text-align: center;
  padding: 0.5em;
  font-family:"Sina Nova", serif;
  margin-bottom:5em;
}


main{
  position:relative;
  display:flex;
  text-align: center;
  padding: 0.5em;
  margin: 0;
  height: 100vh;
}
header {
  z-index:100;
  position:fixed;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 3em);
  top: 0.5em;
  background: rgba(249, 244, 244, .4);
  border:1px solid rgba(25, 43, 194, 0.8);
  height:8.9em;
  transition: transform 0.3s ease, top 0.3s ease;
  font-family:'helvetica'

}


.top{
  max-width: 4em;
  max-height:4em;
  animation: spin 4s linear infinite;
  transition:filter .3s;
}

.other{
  max-width: 4em;
  max-height:4em;
  animation: spin 9s linear infinite reverse;
}

.title{
  color:#08415C;
  text-align: center;
  font-family:helvetica, serif;
  font-size:1.4em;
  font-weight: 900;
  max-width: 15em;
  transform:skewX(35deg);
  letter-spacing:.5em;
  transition:text-shadow 1s ease;
}

.title:hover{
  text-shadow:10px 10px #A0C1B9, 0px -10px #08415C;
}

.top:hover{
  animation:spin 8s linear infinite;
  filter:invert(100%) drop-shadow(0px 10px #08415C) drop-shadow(-10px 4px darkblue);
}

.about:hover{
  background-color: rgba(255,255,255,.75);
}
.container{
  color:rgba(200,10,0, 1);
  letter-spacing: .3em;
}
.container:nth-child(odd) {
    color: rgba(25, 43, 194, 1);
}
.container:nth-child(odd):hover{
  /* color:#08415C; */
}

.container:hover{
  text-decoration: overline;
  /* animation: shadow 8s linear infinite alternate; */

}
.big{
  font-size:4em;
}
.slant{
  transform:skew(-30deg, 5deg);
  font-size:3em;
  margin:0;
  text-align:center;

}
.slant2{
  transform:skew(10deg, -1deg);
  font-size:3em;
  margin:0;
  text-align:center;
}
.slant3{
  font-size:3em;
}


 .smaller{
  font-size:1.2em;
  margin:0 auto;
}


@keyframes shadow {
  from{
    text-shadow: 3px 0px #F4E8C1, 0px 0px #FCF8EE;
  }
  to{
    text-shadow: 30px 8px #F4E8C1, -9px -2px #FCF8EE;
  }
}

@keyframes spin {
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}
.category{
  position:relative;
  top:-.5em;
}

.veg:hover{
  font-size:3em
}

main {
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(2, 1fr) minmax(50px, 1fr);
	grid-template-rows: repeat(10, min-content);
	// grid-auto-flow will move cells to fit into grid where gaps are made (resize window to see gaps)
	grid-auto-flow: dense;

	@include bp(large) {
		grid-template-columns: 10vw minmax(50px, 50vw) repeat(2, 1fr);
		grid-template-rows: repeat(10, min-content);
	}
}

.box{
  transition: box-shadow 0.5s ease, font-size 2s ease, background-size .5s ease;
}
.box p{
  text-align: justify;
}

strong{
  font-size:1.75em;
  color:rgba(100,30,60, .75);
}

.box:hover{
  box-shadow: 8px -5px rgba(200,10,0, 0.8);
}
.box:hover .cat {
  color: rgb(200,10,0);
  text-decoration:underline;
}

.tb:hover{
  box-shadow: -8px 5px rgba(200,10,0, 0.8)
}

/* @keyframes shadows {
  from{box-shadow: 5px 5px rgba(25, 43, 194, 0.8);}
  to{box-shadow: 10px -5px rgba(200,10,0, 0.8);}
} */

.active{
  background-color:black;
}

.cow{
  max-width: 100%;
  max-height:100%;
}
.field{
  max-width:100%;
  position:relative;
  margin-bottom:-50px;
}


h1, h2 {
	margin: 0;
}

main div {
	border: 1px solid rgba(25, 43, 194, 0.8);
  box-shadow: 5px -5px rgba(25, 43, 194, 0.8);
	padding: .75vw 1vw;
}

h1 {
	color: rgb(113, 115, 136);
	font-size: 2rem;
	font-weight: 700;
	padding-top: .5rem;
}

h2 {
	color: rgb(12, 49, 109);
	font-size: 1.25rem;
}

[data-grid]  {
	border-width: 1px;
	border-style: solid;

	&:hover {
		color: #fff;
	}
}

a, .douglas3 {
	color: #E4844A;
}

p {
	line-height: 1.5;
}

strong {
	display: block;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

footer {
	display: grid;
	grip-gap: 16px;
	grid-template-columns: 10vw minmax(50px, 50vw) 1fr 2fr;
	margin: 0 1rem;

	p {
		grid-column: 2 / 4;
		margin-bottom: 5rem;
	}
}

@keyframes bkg {
	from {
		background-size: 50%
	}
	to {
		background-size: 60%
	}
}
.sel{
  align:center;
  margin-top:.3em;
}
ul.cleanList{
  line-height: 2em;
  list-style-type:none;
}
.proj1{
  margin:0 auto;
  float: center;
  font-size:1.5em;
}

.video2{
  visibility:collapse;
  position: relative;
  min-height:315px;
  min-width:560px;
  width:100%;
  height:100%;
}
.three{
  text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(255,255,255,1),
                 0 0 5px rgba(255,255,255,1),
                 0 1px 3px rgba(255,255,255,1),
                 0 3px 5px rgba(255,255,255,1),
                 0 5px 10px rgba(255,255,255,1),
                 0 10px 10px rgba(255,255,255,1),
                 0 20px 20px rgba(255,255,255,1);
}
