* {
  box-sizing: border-box;
}

body {
  display:flex;
  background:#D7C0D0;
  text-align: center;
  padding: 0.5em;
  margin: 0;
  height: 100vh;
}

header {
  position:absolute;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: calc(100% - 3em);
  top: 0.5em;
  background: #D7C0D0;
  border:1px solid white;
}
main{
  position:static;
  display:flex;
  background:#D7C0D0;
  text-align: center;
  padding: 0.5em;
  margin: 0;
  height: 100vh;
}

.top{
  max-width: 4em;
  max-height:4em;
  animation: spin 5s linear infinite;
}

.title{
  color:#08415C;
  text-align: center;
  font-family: helvetica, serif;
  font-size:1.4em;
  font-weight: 700;
  text-shadow:16px 0px #F4E8C1;
  transform:skewX(30deg);
  letter-spacing:.8em;
}

.title:hover{
  text-shadow:10px 10px #A0C1B9, 0px -10px #08415C;
}

.top:hover{
  animation:spin 8s linear infinite;
}

.about:hover{
  background-color: rgba(255,255,255,.75);
}
@keyframes spin {
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}
.category{
  font-family:helvetica;
  position:relative;
  top:-.5em;
}

.veg:hover{
  font-size:3em
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
